@charset "UTF-8";

/*Formatação do banner*/
header#banner {
  color: #000000;
  float: left;
  width: 1349px;
  height: 200px;
  background-color: #6ef7eb;
  position: relative;
  top: -8px;
  left: -8px;
}

/*Formatação do tipo de calculadora*/
header#banner h1 {
  position: relative;
  top: 90px;
  left: 10px;
}

/*Formatação menu*/
nav#menu {
  display: block;
  text-transform: uppercase;
	position: absolute;
  padding-top: 15px;
	left: 500px;
}

div#navbar {
  width: 1349px;
  height: 50px;
  background-color:lightgreen;
  position: relative;
  top: 165px;
  left: -8px;
  box-shadow: 3px -2px 5px rgba(0, 0, 0, .3);
}

/*Formatação do conteudo principal(lateral esquerda)*/
section#lado-esquerdo {
  display: block;
	width: 700px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

/*Formataçao conteudo central*/
aside#central {
  display: block;
  position: relative;
  width: 350px;
  height: 600px;
	/*float: left;*/
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
  box-shadow: 4px 4px 3px rgba(0,0,0,.5);
  top: 155px;
  left: 720px;
}

form.formulario-imagens {
  position: absolute;
}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center;
}



/**{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
  width: 100%;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}


.img-banner{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40vh;
}*/